<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729783140179-runtsikq808h8iubhn3b439ldj36s28m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729783140179-runtsikq808h8iubhn3b439ldj36s28m</string>
	<key>API_KEY</key>
	<string>AIzaSyBK_nuzzLPOk50MpGhQlztJITBbylnYSGM</string>
	<key>GCM_SENDER_ID</key>
	<string>729783140179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cmpTask1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cmp-walkthrough</string>
	<key>STORAGE_BUCKET</key>
	<string>cmp-walkthrough.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729783140179:ios:a986475c117e4027936ba6</string>
</dict>
</plist>